



.formCont{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  padding: 4%;
  background-color: white;
  /*border: 7vw solid transparent;
  border-image:url(https://pages.dataiku.com/hs-fs/hubfs/Landing%20Page%20General%20Backgrounds/Turquoise-Background-2.jpg?width=2500&name=Turquoise-Background-2.jpg) 30 stretch;
  overflow: scroll;*/
}

h1 {
  color: #28b1ab;
  font-family: "Source Sans Pro", sans-serif;
  padding: 3px;
  margin: 0;
  font-size: 4em;
  display: inline-block;
}

.logo {
  float: left;  
  display: block;
  max-height 20%;
  max-width: 20%;
  padding: 0% 5% 3% 0%;
}

.subtext {
  color: grey;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  margin-top: -2px;
  margin-bottom: 20px;
  margin-left:25%;
  width: 70%;
  display: block;
}

.radiosubtext {
  color: grey;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  margin-top: -2px;
  margin-bottom: 20px;
  margin-left:27%;
  width: 70%;
  display: block;
}

.headSubtext {
  color: grey;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  margin-top: -2px;
  margin-bottom: 25px;
  width: 70%;
  display: block;
  margin-left:25%;
}

.question {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: x-large;
 padding: 0px ;
  margin-left: 25px;
  width: 23%;
  text-align: left;
  display: block;  
}

.checkquest {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  padding: 0;
  margin: 0;
}

.error {
  color: red;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  padding: 0;
  margin: 0;
  margin-left:25%
}

/* Customize the label (the container) */
.containerLeft {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:0%
  
}

/* Hide the browser's default checkbox */
.containerLeft input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1f1f1;
  border: 2px solid grey;
}

/* On mouse-over, add a grey background color */
.containerLeft:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerLeft input:checked ~ .checkmark {
  background-color: #28b1ab;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.containerLeft .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.containerLeft input:checked ~ .checkmark::after {
  display: block;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:25%
  
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1f1f1;
  border: 2px solid grey;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #28b1ab;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */

/* Customize the label (the container) */
.radioButton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:27%
}

/* Hide the browser's default radio button */
.radioButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.ticked {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioButton:hover input ~ .ticked {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioButton input:checked ~ .ticked {
  background-color: #28b1ab;
  border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ticked::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.radioButton .ticked::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Show the indicator (dot/circle) when checked */
.radioButton input:checked ~ .ticked::after {
  display: block;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus,  input[type="number"]:focus {
  box-shadow: 0 0 8px #28b1ab;
}

input[type="text"], input[type="email"], input[type="date"] , input[type="number"] {
  width: 70%;
  padding:0px 20px 0px 20px;
  margin: -30px 0px -10px 0px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  height: 46px;
  margin-left:25%;
  display: block;
}


select {
  width: 70%;
  padding: 0px 20px 0px 20px;
  margin: -50px 0px -10px 0px;
  border: 2px solid grey;
  border-radius: 6px;
  background-color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  height: 46px;
  text-indent: 10px;
  margin-left:25%;
  display: block;
}

.answers {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9em;
  margin-left:25%;
  margin: -30px;
  display: block;
}



#IMconditional {
  display: show;
}

#partnerconditional {
  display: none;
}

select:invalid {
  color: gray;
}

select:valid {
  color: black;
  border: 2px solid #28b1ab;
  
}
input[type="email"]:focus:invalid {
  border: 4px solid #ff8d8d;
  box-shadow: 0 0 8px #ffcccc;
}

input[type="email"]:required:valid, input[type="date"]:required:valid  {
  border: 2px solid #28b1ab;
}

input[type="text"]:required:valid {
  border: 2px solid #28b1ab;
}

input[type="text"]:focus:required:invalid, input[type="number"]:focus:required:invalid {
  border: 4px solid #ff8d8d;
  box-shadow: 0 0 8px #ffcccc;
}


input[type="number"]:required:valid {
  border: 2px solid #28b1ab;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #c0f1ef;
  border: 2px solid grey;
  color: black;
  text-align: center;
  font-size: x-large;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover {
  background-color: #28b1ab; 
  color: white;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}

.hidden {
  display: none;
}
